<!DOCTYPE html>
<html lang="en" data-ng-app="app">
   <head>
      <meta charset="utf-8">
      <title>Inequality &amp; Mass Transit in the Boston area</title>
      <link href="./assets/css/bootstrap.css" rel="stylesheet">
      <link href="./assets/css/site.css" rel="stylesheet">
      <script src="./assets/libs/jquery.1.9.1.min.js"></script>
      <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
      <script src="./assets/libs/d3/d3.min.js"></script>
      <script src="./assets/libs/topojson.v1.min.js"></script>
      <script src="./assets/libs/angular/angular.min.js"></script>
      <script src="./assets/js/app.js"></script>
   </head>
   <body>
      <div class="container" data-ng-controller="AppCtrl">
         <div class="top row">
            <div class="span8">
               <h2>Income by MBTA Station Around Boston</h2>
            </div>
         </div>
         <div class="row">
            <div class="span8" id="intro">
               <p>A recent feature in <a href="http://newyorker.com/sandbox/business/subway.html"><i>The New Yorker</i></a>  
                  looked at New York City subway stops and resident incomes. Two developers in San Francisco had the idea did some work to map incomes by transit station in the Bay Area. We've extended their code to map income by MBTA stations around Boston.
               </p>
               <br/>
            </div>
         </div>
         
         <div class="MainContents">
         <div class="TransitLines">
         <h5>MBTA</h5>
         <div class="agency-container">
            <ul class="agency-routes nav nav-tabs nav-stacked">
               <li>
                  <a href="#" data-ng-click="displayRoute('MBTA', '0_Red Line')">
                  <span class="swatch" style="background-color: red"></span> 
                  Red Line</a>
               </li>
               <li>
                  <a href="#" data-ng-click="displayRoute('MBTA', '4_Green Line')">
                  <span class="swatch" style="background-color: green"></span> 
                  Green Line</a>
               </li>
               <li>
                  <a href="#" data-ng-click="displayRoute('MBTA', '11_Orange Line')">
                  <span class="swatch" style="background-color: orange"></span> 
                  Orange Line</a>
               </li>
               <li>
                  <a href="#" data-ng-click="displayRoute('MBTA', '10_Blue Line')">
                  <span class="swatch" style="background-color: Blue"></span> 
                  Blue Line</a>
               </li>
               <li>
                  <a href="#" data-ng-click="displayRoute('MBTA', '16_Silver Line')">
                  <span class="swatch" style="background-color: #b9b9b9"></span> 
                  Silver Line</a>
               </li>
            </ul>
         </div>
         </div>
        <div class="span6">
			 <div id="graph">
				<div id="instructions">
				   <p style="text-align:left; position:absolute; top:10%;">&larr; Choose a line to get started!</p>
				</div>
			 </div>
		  </div>
		</div>
      </div>
      

      
      <div class="row" id="bottom">
         <div class="span10">
            <h6>Methodology</h6>
            <p>Stop and route information came from the MBTA. Income data was gathered from the US Census <a href="http://www.census.gov/developers/">API</a>. We used the incomes from the census tract where each stop is located.</p>
            <p>Check out the original source on <a href="http://github.com/dangrover/sf-transit-inequality">GitHub</a>!</p>
         </div>
      </div>
   </body>
</html>
